﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVPlayer</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>

    @RenderBody()
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery.signalR-2.4.1.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
