﻿
@{
    ViewData["Title"] = "Waiting for data";
}

    <div class="page-body">
        

        <div style="display:table-cell;vertical-align:middle;">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>

@section Scripts {
    <script>
        var token = '@ViewBag.Token';
    </script>
    <script src="~/js/data.js" asp-append-version="true"></script>

}
