﻿@model MVPlayer.Models.PairResponse

@{
    ViewData["Title"] = "Pair";
}

<div class="page-body">
    <div style="display:table-cell;vertical-align:middle;">
        <h1>
            @Model.Pin
        </h1>
        <p>Use this PIN code to pair your device with management system.</p>


    </div>
</div>




@section Scripts {
    <script>
        var token = '@Model.Token';
    </script>
    <script src="~/js/pair.js" asp-append-version="true"></script>
}


