﻿@model IEnumerable<MVPlayer.Models.Asset>

@{
    ViewData["Title"] = "Player";
}

<div id="player">

</div>

@section Scripts {
    <script>
    var token = '@ViewBag.Token';
    </script>
    <script src="~/js/player3.js" asp-append-version="true"></script>
}
