﻿body, html, #player, .page-body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

body {
background:#000;
}

.page-body {
    background: #002aff;
    text-align: center;
    display: table;
    color: #fff
}

    .page-body h1 {
        font-size: 102px;
        line-height: 102px;
        margin-bottom: 40px;
        padding: 0;
    }

    .page-body p {
        font-size: 24px;
        margin: 50px 0 0 0;
        padding: 0;
        opacity: 0.7
    }

#player {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

.spinner {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
